nav {
	height:32px;
	width:100%;
}

nav ul {
	padding:0;
	margin:0 auto;
	list-style:none;
	display:table;
}

nav ul li {
	float:left;
	display:table-cell;
}

nav a {
	display:inline-block;
	padding:5px 16px;
	font-size:22px;
	line-height:22px;
	color:white;
	text-decoration:none;
	text-align:center;
	float:left;
	background:url(../images/transparent.0.2.png);
	background:rgba(0, 0, 0, 0.2);
	transition:background 0.2s ease-in-out;
}
nav a:first-of-type {
	margin-left:0;
}
nav a:hover {
	background:url(../images/transparent.0.8.png);
	background:rgba(0, 0, 0, 0.8);
	transition:background 0.2s ease-in-out;
}

nav #search {
	width:0;
	height:22px;
	padding:5px 0 5px 32px;
	background:url(../images/transparent.0.2.png);
	background:rgba(0, 0, 0, 0.2) url(../images/search.png) no-repeat 5px 5px;
	border:none;
	color:white;
	transition:width .5s, background-color 0.2s;
	outline:none;
}
nav #search:focus {
	width:256px;
	background-color:black;
	background-color:rgba(0, 0, 0, 0.8);
	cursor:text !important;
}
nav #search:hover {
	background-color:black;
	background-color:rgba(0, 0, 0, 0.8);
	cursor:pointer;
}